like2gig.evangriffiths.org {
    root * /opt/like2gig/client/dist
    file_server

    handle /auth/* {
        reverse_proxy localhost:3001
    }

    handle /api/* {
        reverse_proxy localhost:3001
    }

    handle {
        try_files {path} /index.html
    }
}
